@{
    ViewData["Title"] = "-UWSR-";
    ViewData["Name"] = $"-{ViewData["Title"]}-";
}
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@($"-{ViewData["Title"]}-")</h1>
    @RenderSection("SignIn", required: false)
    @if (!String.IsNullOrEmpty(Context.Session.GetString("IsAdmin")))
    {
        @using (Html.BeginForm("SignInReset", "Home", FormMethod.Post))
        {
            <button type="submit">Reset</button>
        }
    }
    <div style="display:inline-flex;padding:5px">
        @if (!String.IsNullOrEmpty(Context.Session.GetString("IsAdmin")))
        {
            <button id="insert" onclick="insertWsrefGetForm()">insert</button>
        }
        <button style="margin-left:4px" onclick="filterWsrefGetForm()">filter</button>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
